{% extends '/back_end_admin/base.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="row align-content-center">
            <div class="col-md-6">
                <p class="h1 m-5">Liste des candidats</p>
            </div>
            <div class="col-md-5 m-auto">
                <a class="btn btn-primary float-right" href="{{ asset('espace_admin/candidat/ajouter') }}">Ajouter un
                    candidat</a>
            </div>
        </div>
        <table class="table bg-white border text-center">
            <tr class="text-uppercase text-dark font-weight-bold">
                <td>Id</td>
                <td>Prenom</td>
                <td>Nom</td>
                <td>Date de naissance</td>
                <td>Sexe</td>
                <td>Tel</td>
                <td>Id photo</td>
                <td>Actions</td>
            </tr>
            {% for candidat in candidats %}
                <tr>
                    <td>{{ candidat.id }}</td>
                    <td>{{ candidat.prenom }}</td>
                    <td>{{ candidat.nom }}</td>
                    <td>{{ candidat.dateNaissance|date("d-m-Y") }}</td>
                    <td>{{ candidat.sexe }}</td>
                    <td>{{ candidat.tel }}</td>
                    <td class="text-break">{{ candidat.idPhoto }}</td>
                    <td>
                        <a class="btn btn-dark m-1"
                           href="{{ asset('espace_admin/messagerie/'~candidat.user.id~'/afficher') }}">
                            Contacter
                        </a>
                        <a class="btn btn-dark m-1"
                           href="{{ asset('espace_admin/candidat/'~candidat.id~'/modifier') }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger m-1"
                           href="{{ asset('espace_admin/candidat/'~candidat.id~'/supprimer') }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
