{% block content %}
<script>
    document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
</script>
<section></section>

<h4>Liste des Formation</h4>
<br>
<br>

<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Filiere</th>
        <th>Debut</th>
        <th>Fin</th>
        <th>Id_user</th>
        <th>actions</th>
    </tr>
    </thead>

    <tbody>

    {% for formation in formations %}
        <tr>
            <td>{{ formation.id }}</td>
            <td>{{ formation.nom }}</td>
            <td>{{ formation.filiere }}</td>
            <td>{{ formation.debut ? formation.debut|date('Y-m-d') : '' }}</td>
            <td>{{ formation.fin ? formation.fin|date('Y-m-d') : '' }}</td>
            <td>{{ formation.idUser }}</td>

        </tr>
    {% else %}

    {% endfor %}
    </tbody>
</table>
<div style="height:100px"></div>