{% extends '/front_end/base.html.twig' %}
{% block title %}Khedemti | Messagerie{% endblock %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('/front-end/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/front-end/css/materialdesignicons.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('/front-end/css/fontawesome.css') }}"/>

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/front-end/css/selectize.css') }}"/>

    <!--Slider-->
    <link rel="stylesheet" href="{{ asset('/front-end/css/owl.carousel.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/front-end/css/owl.theme.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/front-end/css/owl.transitions.css') }}"/>

    <link rel="stylesheet" href="{{ asset('/front-end/css/modal.css') }}"/>
    <link rel="stylesheet" href="{{ asset('/front-end/css/chat.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/front-end/css/style.css') }}"/>
{% endblock %}
{% block content %}
    <section class="page-next-level bg-light">
        <div style="height : 100px;"></div>
        <!-- Main div start -->
        <div class="content">
            {% include 'messagerie.html.twig' %}
        </div>
        <!-- Main div end -->
    </section>
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
{% endblock %}
{% block footer %}
{% endblock %}
