{% extends '/frontEnd/base.html.twig' %}
{% block css %}
	<!-- Bootstrap core CSS -->
	<link
	rel="stylesheet" href="{{ asset('/frontEnd/css/bootstrap.min.css') }}" type="text/css">

	<!--Material Icon -->
	<link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/materialdesignicons.min.css') }}"/>

	<link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/fontawesome.css') }}"/>

	<link
	rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/nice-select.css') }}"/>

	<!-- selectize css -->
	<link
	rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/selectize.css') }}"/>

	<!-- Custom  Css -->
	<link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/style.css') }}"/>
{% endblock %}
{% block content %}
	<!-- Start home -->
	<section class="bg-half page-next-level">
		<div class="bg-overlay"></div>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6">
					<div class="text-center text-white">
						<h4 class="text-uppercase title mb-4">Publications pour la societe [nom]</h4>
						<ul class="page-next d-inline-block mb-0">
							<li>
								<a href="{{ asset('#') }}" class="text-uppercase font-weight-bold">Societes</a>
							</li>
							<li>
								<a href="{{ asset('#') }}" class="text-uppercase font-weight-bold">Nom de la societe</a>
							</li>
							<li>
								<span class="text-uppercase text-white font-weight-bold">Publications</span>
							</li>
						</ul>
						<div class="mb-4 p-5">

							<a href="{{ asset('/candidat/publication/ajouter') }}">
								<h4 class=" title">Ajouter</h4>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end home -->

	<!-- CANDIDATES LISTING START -->
	<section class="section pt-4">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<div class="show-results">
						<div class="float-left">
							<input type="text" id="search" class="form-control"
							placeholder="Search">
							<h5 class="text-dark mb-0 pt-2">
								Affichage des publications :

							</h5>
						</div>
						<div class="sort-button text-center float-sm-right">
							<ul class="list-unstyled mb-0">
								<li class="list-inline-item mb-0 mr-3">
									<select class="nice-select">
										<option data-display="Sort By">Nothing</option>
										<option value="1">Web Developer</option>
										<option value="2">PHP Developer</option>
										<option value="3">Web Designer</option>
									</select>
								</li>

								<li class="list-inline-item">
									<select class="nice-select">
										<option data-display="Default">Nothing</option>
										<option value="1">Web Developer</option>
										<option value="2">PHP Developer</option>
										<option value="3">Web Designer</option>
									</select>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div id="tableau">

			</div>
			<div class="" id="pub1">
				<div class="col-md-10">
					{% for publication in publications %}
						<div
							class="candidates-listing-item">
							<!-- Single review Start-->
							<div class="border mt-3 rounded p-3">
								<div class="row">
									<div class="col-md-2">
										<div class="candidates-list-fav-btn text-left">
											<a href="#">
												<div class="candidates-listing-btn overflow-hidden">
													<div class="text-dark mb-2">

														{# if CandidatureOffre.id == 999999 #}
														{# endif #}
															<h6>
														nom
															{# candidat.nom #}
														</h6>
														<h6>prenom
															{# candidat.prenom #}
														</h6>
													</div>
													<img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/" alt="" class="d-block rounded" height="90">
												</div>
											</a>
										</div>
									</div>
									<div class="col-md-8">
										<div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
											<a  href="/afficherpublication/{{publication.id}}"  class="mb-2 text-dark">{{ publication.titre }} </a>
											<div style="font-size: 20px;"></div>

											<p class="mt-1 mb-0 text-break">{{ publication.description }}</p>
										</div>
									</div>
									<div class="col-md-2">
										<div class="candidates-list-fav-btn text-right">
											<div class="fav-icon row">
											Like 
												<a id="like-publication" onClick="
												javascript:likeDislike(true,{{ publication.id }});return false;"
												 href="#" class="mdi mdi-heart"></a>
												<p id="nb-like{{ publication.id }}" >{{nbrlike}}</p>
											</div>
											    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
   function likeDislike(typeLike,idPub){
                $.ajax({
                    type: 'GET',
                    url: 'like',
                    data: {
						'typeLike': typeLike,
						'idPub':idPub,
						},
                    success: function (retour) {
                        if (typeLike){
							//	$("#like-publication{{ publication.id }}")
								$("#nb-like{{ publication.id }}").empty().append(retour);
						}else
						{
							$("#dislike-publication{{ publication.id }}").hide() ;
							nbLike = retour;
						
							$('#like-bar').attr("style","width:80%");
							//$('#like-bar').attr(style="width:{{pourcen}}%") ;
				
						//	alert("Vous ne pouvez pas ajouter un dislike")
						}
                    },
                    error: function () {
                        alert('Erreur ajax like');
                    }	,
				});

		}
		
					
    </script>
											Dislike
											<a  id="dislike-publication{{ publication.id }}" href="{{ asset('/ajouterlike/type='~0~'/publication='~publication.id) }}" >
												
													<i class="mdi mdi-heart-outline"></i>
												
											</a>
											{{(like-nbrlike)}}
											

											<div class="candidates-listing-btn mt-2">
												<a href="{{ asset('/candidat/publication='~publication.id~'/modifier') }}" class="btn btn-primary-outline btn-sm mt-1">Modifier publication</a>
												<a href="{{ asset('/candidat/publication='~publication.id~'/supprimer') }}" class="btn btn-primary-outline btn-sm mt-1">Supprimer publication</a>
											</div>
										</div>
									</div>

									<div class="col-md-8">
										<div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">

											<div style="font-size: 20px;"></div>


										</div>
									</div>
									<table border="0" style="float:left">
									<!-- barre de progress -->
											<div class="col-lg-12 mt-4 pt-2">
                            <div class="component-wrapper rounded shadow">
                                <div class="p-4 border-bottom bg-light">
                                    <h4 class="title mb-0"> Result </h4>
                                </div>

                                <div class="p-4">
                                    <div class="progress-box">
                                        <h6 class="title text-muted">"Like"---------------------------------------------------------------------------------------------------------------"Dislike"</h6>
                                        <div class="progress">
                                            <div id="like-bar" class="progress-bar progress-bar-striped position-relative bg-primary" style="width:{{pourcen}}%";">
                                                <div class="progress-value d-block text-muted h6">84%</div>
                                            </div>
                                        </div>
                                    </div><!--end process box-->
                                </div>
                            </div>
                        </div>



											 <!-- wfet barre de progress -->
										{% for comment in publication.commentaire %}
											<tr>
												<td>
													<div>
													<div>
														{{comment.description}}
														<div class="icon">
															<a href="/supprimerCommentaire/{{comment.id}}">
																<i class="mdi mdi-trash-can" id="supp"></i>
															</a>
														</div>
														<form action="/modifierCommentaire/{{comment.id}}" method="post">

															<div class="icon">
																<a href="{{ asset('/modifiercommentaire'~comment.id~'') }}" type="submit" class="mdi mdi-pencil"></a>
															</div>
														</form>

														</div>	
													</div>
												</td>
											</tr>
										</div>
									</td>
								</tr>
							{% endfor %}

						</table>
						<form action="/ajoutercommentaire" method="post">
							<div class="input-group mb-0">
								<input type="hidden" name="id_publication" value="{{publication.id}}">
								<input name="description" id="description" type="text" class="form-control" placeholder="Ecrire un commentaire" required="" aria-describedby="Publier">

								<div class="input-group-append">
									<button class="btn btn-primary submitBnt" type="submit" id="publier">Publier</button>
								</form>

							</div>
						</div>
					</div>
				</div>
			{% endfor %}
			<!-- Single review END-->

			<!-- Pagination START-->
			<nav aria-label="Page navigation example">
				<ul class="pagination job-pagination justify-content-center mb-0 mt-4 pt-2">
					<li class="page-item disabled">
						<a class="page-link" href="{{ asset('#') }}" aria-disabled="true">
							<i class="mdi mdi-chevron-double-left"></i>
						</a>
					</li>

					<li class="page-item">
						<a class="page-link" href="{{ asset('#') }}">
							<i class="mdi mdi-chevron-double-right"></i>
						</a>
					</li>
				</ul>
			</nav>
			<!-- Pagination END -->
		</div>
	</div>
</div></section>
<div class="navigation" align="center">{{ knp_pagination_render(publications) }}</div><!-- REVIEWS LISTING END --><h4 class="row justify-content-center p-5">Aucune publication pour ce candidat</h4><!-- subscribe start --><section class="section bg-light">
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-md-5">
			<div class="float-left position-relative notification-icon mr-2">
				<i class="mdi mdi-bell-outline text-primary"></i>
				<span class="badge badge-pill badge-danger">1</span>
			</div>
			<h5 class="mt-2 mb-0">Your Job Notification</h5>
		</div>
		<div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
			<form>
				<div class="form-group mb-0">
					<div class="input-group mb-0">
						<input name="email" id="email" type="email" class="form-control" placeholder="Your email :" required="" aria-describedby="newssubscribebtn">
						<div class="input-group-append">
							<button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">
								Subscribe
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div></section><!-- subscribe end -->


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script>
							$( document ).ready(function() {
                                  $("#search").keyup(function(e){
                                      var value = $("#search").val();
                                      console.log(value);
                                 $.ajax({
                    type: 'GET',
                    url: 'searchPub',
                    data: {'searchValue' : value},
                    success:function(retour){
                          if(retour){
                              $.each(JSON.parse(retour), function(i,obj) {
								  $('#pub1').hide();
								  $('#tableau').empty().append("<tr><td>" + obj.id +
                                    "</td><td>" + obj.titre + "</td><td>" + obj.description + "</td></tr> "
                                   );

                                   console.log("ay hkeya"+obj.titre);
                                   
                                  
                              });
                          }
                    },
                }
            );
                            })   
							});    
                            </script>

{% endblock %}{% block js %}<!-- javascript --><script src="{{ asset('/frontEnd/js/jquery.min.js') }}"></script><script src="{{ asset('/frontEnd/js/bootstrap.bundle.min.js') }}"></script><script src="{{ asset('/frontEnd/js/jquery.easing.min.js') }}"></script><script src="{{ asset('/frontEnd/js/plugins.js') }}"></script><!-- selectize js --><script src="{{ asset('/frontEnd/js/selectize.min.js') }}"></script><script src="{{ asset('/frontEnd/js/jquery.nice-select.min.js') }}"></script><script src="{{ asset('/frontEnd/js/app.js') }}"></script>{% endblock %}


