{% extends '/front_end/base.html.twig' %}
{% block title %}Khedemti | Profil{% endblock %}
{% block content %}
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
    <section>
        <div class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mt-4 pt-2">
                        <div class="component-wrapper rounded shadow">
                            <div class="p-4 border-bottom bg-light">
                                <h4 class="title mb-0"> {{ manipulation }} competence
                                    : {{ competence.name }}</h4>
                            </div>
                            <div class="p-4">
                                {{ form_start(form) }}
                                {% do form.name.setRendered() %}
                                {% do form.level.setRendered() %}
                                {% do form.submit.setRendered() %}

                                <form name="competence" method="post">
                                    <div class="row">
                                        {{ form_errors(form.name) }}
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label for="competence_name" class="required">Description</label>
                                                <input type="text"
                                                       id="competence_name"
                                                       name="competence[name]"
                                                       maxlength="255"
                                                       value="{{ competence.name }}"
                                                       class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        {{ form_errors(form.level) }}
                                        <div class="col-md-12">
                                            <div class="form-group position-relative">
                                                <label for="competence_level" class="required">Niveau
                                                    competence</label>
                                                <input type="text"
                                                       id="competence_level"
                                                       name="competence[level]"
                                                       maxlength="255"
                                                       value="{{ competence.level }}"
                                                       class="form-control"
                                                       placeholder="">
                                            </div>
                                        </div>
                                    </div><!--end row-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <button type="submit" id="competence_submit"
                                                    class="btn btn-primary"
                                                    name="competence[submit]">{{ manipulation }}</button>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                                {{ form_end(form) }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
