{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-home"
             style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">Offres de travail</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-10 p-5">
        <table border="2" class="table">
            <tr>
                {% set labels =["ID", "Description", "Societe", "Categorie","Candidatures"] %}
                {% for i in 0..labels|length-1 %}
                    <td><b>{{ labels[i] }}</b></td>
                {% endfor %}
                <td><b>Operations</b></td>
                {% for offreDeTravail in offreDeTravails %}
            <tr>
                <td>{{ offreDeTravail.id }}</td>
                <td>{{ offreDeTravail.description }}</td>
                <td>{{ offreDeTravail.societe.id }}</td>
                {% if offreDeTravail.categorie %}
                    <td>{{ offreDeTravail.categorie.description }}</td>
                {% else %}
                    <td>
                        Aucune categorie
                    </td>
                {% endif %}
                {% if offreDeTravail.candidatureOffre %}
                    <td>
                        {% for candidature in offreDeTravail.candidatureOffre %}
                            Candidature {{ candidature.id }} : {{ candidature.candidat.prenom }}
                            {{ candidature.offreDeTravail.description }} a {{ candidature.offreDeTravail.societe.nomSociete }}
                            <br>
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        Aucune candidature
                    </td>
                {% endif %}
                <td>
                    {% set utilisateur = app.session.get('utilisateur') %}
                    {% if utilisateur is not null %}
                        {% set idUtilisateur = utilisateur['idUtilisateur'] %}
                        {% set email = utilisateur['emailUtilisateur'] %}
                        {% set CandidatureBool = false %}
                        {% set activeSessionCondidature = null %}
                        {% if offreDeTravail.candidatureOffre|length > 0 %}
                            {% for candidature in offreDeTravail.candidatureOffre %}
                                {% if candidature.candidat.utilisateur.id == idUtilisateur %}
                                    {% set activeSessionCondidature = candidature %}
                                    {% set CandidatureBool = true %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% set CandidatureBool = false %}
                        {% endif %}
                        {% if CandidatureBool %}
                            Vous avez candidaté pour cette offre <br>
                            <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/offreDeTravail='~offreDeTravail.id~'/candidatureOffre='~activeSessionCondidature.id~'/supprimer') }}">
                                Supprimer candidature</a>
                            <br>------------<br>
                            <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/offreDeTravail='~offreDeTravail.id~'/candidatureOffre='~activeSessionCondidature.id~'/revue/ajouter') }}">
                                Ajouter une revue pour cette offre</a><br>
                            <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/offreDeTravail='~offreDeTravail.id~'/candidatureOffre='~activeSessionCondidature.id~'/interview/ajouter') }}">
                                Ajouter une interview pour cette offre</a>
                        {% else %}
                            <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/offreDeTravail='~offreDeTravail.id~'/utilisateur='~idUtilisateur~'/ajouter') }}">
                                Candidater pour cette offre
                            </a>
                        {% endif %}
                    {% else %}
                        Veuillez vous connecter pour candidater
                        <br>------------<br>
                    {% endif %}
                    <br>------------<br>
                    <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/revue/activePage=0') }}">
                        Voir les revues pour cette offre</a><br>
                    <a href="{{ asset('/societe='~offreDeTravail.societe.id~'/interview/activePage=0') }}">
                        Voir les interviews pour cette offre</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}