{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-half page-next-level">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h1>{{ candidat.nomSociete }}</h1>
                        ID : {{ candidat.id }} ||
                        Nom : {{ candidat.nom }} ||
                        Prenom : {{ candidat.prenom }} ||
                        Date naissance : {{ candidat.dateNaissance|date("d/m/Y") }} ||
                        Sexe : {{ candidat.sexe }} ||
                        Tel : {{ candidat.tel }} ||
                        ID photo : {{ candidat.idPhotoCandidat }}
                        <br>----------------<br>
                        <a href="{{ asset('candidat/modifier/id='~candidat.utilisateur.id~'/email='~candidat.utilisateur.email~'/password='~candidat.utilisateur.motDePasse) }}">Modifier</a> |
                        <a href="{{ asset('utilisateur='~candidat.utilisateur.id~'/supprimer/') }}">Supprimer utilisateur</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}