{% extends '/admin/base.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="row align-content-center">
            <div class="col-md-6">
                <p class="h1 m-5">Liste des societes</p>
            </div>
            <div class="col-md-5 m-auto">
                <a class="btn btn-primary float-right" href="{{ asset('admin/offre_de_travail/ajouter') }}">Ajouter une
                    societe</a>
            </div>
        </div>
        <table class="table border text-center">
            <tr class="text-uppercase text-dark font-weight-bold">
                <td>Nom</td>
                <td>Date de creation</td>
                <td>Tel</td>
                <td>id photo</td>
            </tr>
            {% for societe in societes %}
                <tr>
                    <td>{{ societe.nom }}</td>
                    <td>{{ societe.dateCreation|date("d-m-Y") }}</td>
                    <td>{{ societe.Tel }}</td>
                    <td>{{ societe.idPhoto }}</td>
                    <td>
                        <a class="btn btn-dark"
                           href="{{ asset('admin/offre_de_travail/'~societe.id~'/modifier') }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger"
                           href="{{ asset('admin/offre_de_travail/'~societe.id~'/supprimer') }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
