{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-half page-next-level">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Societes</h4>
                        <a href="{{ asset('/utilisateur/ajouter') }}"><h4 class=" title">Ajouter une societe </h4></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-10 p-5">
        <table border="2" class="table">
            <tr>
                {% set labels =["ID", "Nom de la societe", "Date creation", "Numero de telephone", "idPhotoSociete"] %}
                {% for i in 0..labels|length-1 %}
                    <td><b>{{ labels[i] }}</b></td>
                {% endfor %}
                <td><b>Operations</b></td>
                {% for societe in societes %}
            <tr>
                <td>{{ societe.id }}</td>
                <td>{{ societe.nomSociete }}</td>
                <td>{{ societe.dateCreationSociete|date("d/m/Y") }}</td>
                <td>{{ societe.numTelSociete }}</td>
                <td>{{ societe.idPhotoSociete }}</td>
                <td>
                    <a href="{{ asset('societe='~societe.id~'/categorie=0/offreDeTravail') }}">
                        Afficher les offre de travail de {{ societe.nomSociete }}</a><br>
                    ----------------<br>
                    <a href="{{ asset('societe='~societe.id~'/revue/activePage=1') }}">
                        Afficher revues sur toutes les offres de {{ societe.nomSociete }}</a><br>
                    ----------------<br>
                    <a href="{{ asset('societe='~societe.id~'/modifier/') }}">Modifier</a> |
                    <a href="{{ asset('societe='~societe.id~'/supprimer/') }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}