{% extends '/frontEnd/base.html.twig' %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('frontEnd/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/materialdesignicons.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/fontawesome.css') }}"/>

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/selectize.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/nice-select.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/style.css') }}"/>
{% endblock %}
{% block content %}

    <!-- Start home -->
    <section class="bg-half page-next-level"
             style="background-image: url({{ asset('/frontEnd/images/BG-societe.jpg') }});">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Liste des societes</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{{ asset('frontEnd/index.html') }}" class="text-uppercase font-weight-bold">Accueil</a></li>
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">Societes</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <section class="section">
        <!-- REGISTRATION-FORM START -->
        <div class="container">
            <div class="home-form-position">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="home-registration-form bg-white job-list-grid-reg-form p-4 mb-3">
                            <form class="registration-form">
                                <div class="row">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-briefcase"></i>
                                            <input type="text" id="exampleInputName1"
                                                   class="form-control rounded registration-input-box"
                                                   placeholder="Job keybords...">
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <i class="fa fa-list-alt"></i>
                                            <select id="select-category" class="demo-default">
                                                <option value="">Categories...</option>
                                                <option value="4">Accounting</option>
                                                <option value="1">IT & Software</option>
                                                <option value="3">Marketing</option>
                                                <option value="5">Banking</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="registration-form-box">
                                            <input type="submit" id="submit" name="send"
                                                   class="submitBnt btn btn-primary btn-block" value="Submit">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- REGISTRATION-FORM END -->

        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="show-results mt-4">
                        <div class="float-left">
                            <h5 class="text-dark mb-0 pt-2">Showing Results : 1-9 of 300</h5>
                        </div>
                        <div class="sort-button float-right">
                            <ul class="list-inline mb-0">
                                <li class="list-inline-item mb-0 mr-3">
                                    <select class="nice-select rounded">
                                        <option data-display="Sort By">Nothing</option>
                                        <option value="1">Web Developer</option>
                                        <option value="2">PHP Developer</option>
                                        <option value="3">Web Designer</option>
                                    </select>
                                </li>

                                <li class="list-inline-item">
                                    <select class="nice-select rounded">
                                        <option data-display="Default">Nothing</option>
                                        <option value="1">Web Developer</option>
                                        <option value="2">PHP Developer</option>
                                        <option value="3">Web Designer</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-4 pt-2">
                    <div class="left-sidebar">
                        <div class="accordion" id="accordionExample">
                            <div class="card mt-4 rounded border-bottom-0">
                                <a data-toggle="collapse" href="{{ asset('#collapseOne') }}" class="job-list" aria-expanded="true"
                                   aria-controls="collapseOne">
                                    <div class="card-header" id="headingOne">
                                        <h6 class="mb-0 text-dark">Last Activity</h6>
                                    </div>
                                </a>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio1">Last
                                                Hour</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio2">Last 24
                                                hours</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio3" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio3">Last 7
                                                days</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio4" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio4">Last 14
                                                days</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio5" name="customRadio"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio5">Last 30
                                                days</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                            <div class="card mt-4 rounded border-bottom-0">
                                <a data-toggle="collapse" href="{{ asset('#collapsetwo') }}" class="job-list" aria-expanded="true"
                                   aria-controls="collapsetwo">
                                    <div class="card-header" id="headingtwo">
                                        <h6 class="mb-0 text-dark">Team Size</h6>
                                    </div>
                                </a>
                                <div id="collapsetwo" class="collapse show" aria-labelledby="headingtwo">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck7">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck7">1 To
                                                50</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck8">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck8">51 To
                                                100</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck3">101 To
                                                150</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck4">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck4">151 To
                                                200</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck5">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck5">201 To
                                                250</label>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck6">
                                            <label class="custom-control-label ml-1 text-muted" for="customCheck6">251 To
                                                300</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                            <div class="card mt-4 rounded border-bottom-0">
                                <a data-toggle="collapse" href="{{ asset('#collapsethree') }}" class="job-list" aria-expanded="true"
                                   aria-controls="collapsethree">
                                    <div class="card-header" id="headingthree">
                                        <h6 class="mb-0 text-dark">Categories</h6>
                                    </div>
                                </a>
                                <div id="collapsethree" class="collapse show" aria-labelledby="headingthree">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio7" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio7">Web
                                                Designer</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio8" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio8">Graphic
                                                Designer</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio9" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio9">PHP
                                                Developer</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio10" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio10">UI/UX
                                                Designer</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio11" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted"
                                                   for="customRadio11">Banking</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio12" name="customRadio1"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted" for="customRadio12">Accountancy</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card mt-4 rounded border-bottom-0">
                                <a data-toggle="collapse" href="{{ asset('#collapsefour') }}" class="job-list" aria-expanded="true"
                                   aria-controls="collapsefour">
                                    <div class="card-header" id="headingfour">
                                        <h6 class="mb-0 text-dark">Gender</h6>
                                    </div>
                                </a>
                                <div id="collapsefour" class="collapse show" aria-labelledby="headingfour">
                                    <div class="card-body p-0">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio13" name="customRadio3"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted"
                                                   for="customRadio13">Male</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio14" name="customRadio3"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted"
                                                   for="customRadio14">Female</label>
                                        </div>

                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio15" name="customRadio3"
                                                   class="custom-control-input">
                                            <label class="custom-control-label ml-1 text-muted"
                                                   for="customRadio15">Others</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- collapse one end -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-8">
                    <div class="row">
                        {% for societe in societes %}
                        <div class="col-lg-4 col-md-6 mt-4 pt-2">
                            <div class="employers-list position-relative pb-3 pt-3 pl-2 pr-2 border rounded">
                                <img src="{{ asset('uploads/'~societe.idPhotoSociete) }}"
                                     alt="" class="mx-auto d-block shadow border rounded-circle" height="90" width="90">
                                <div class="grid-list-desc text-center mt-3">
                                    <h5 class="mb-2"><a href="{{ asset('societe='~societe.id) }}" class="text-dark name">{{ societe.nomSociete }}</a></h5>
                                    <p class="text-muted mb-0"><i class="mdi mdi-briefcase mr-2"></i>Web Delveloper</p>
                                    <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>location</p>
                                </div>
                                <div class="apply-button text-center mt-3">
                                    <a href="{{ asset('societe='~societe.id) }}" class="btn btn-primary btn-sm">Consulter {{ societe.nomSociete }}</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-lg-12 mt-4 pt-2">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination job-pagination mb-0 justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="{{ asset('#') }}" tabindex="-1" aria-disabled="true">
                                            <i class="mdi mdi-chevron-double-left"></i>
                                        </a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="{{ asset('#') }}">1</a></li>
                                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">2</a></li>
                                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">3</a></li>
                                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">4</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="{{ asset('#') }}">
                                            <i class="mdi mdi-chevron-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %}
    <!-- javascript -->
    <script src="{{ asset('frontEnd/js/jquery.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/plugins.js') }}"></script>

    <!-- selectize js -->
    <script src="{{ asset('frontEnd/js/selectize.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/jquery.nice-select.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/app.js') }}"></script>
{% endblock %}