{% extends 'front_end/base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block content %}
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
    <div style="height:100px"></div>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">Formation</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>Debut</th>
                <td>{{ evenement.debut ? evenement.debut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Fin</th>
                <td>{{ evenement.fin ? evenement.fin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descp</th>
                <td>{{ evenement.descp }}</td>
            </tr>
            <tr>
                <th>All_day</th>
                <td>{{ evenement.allDay ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Id_user</th>
                <td>{{ evenement.idUser }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_indexA',{'id' : evenement.id}) }}"class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">back to list</a>
    <div style="height:100px"></div>
{% endblock %}