{% extends '/back_end_societe/base.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="col-lg-12">
            <div class="text-sm-center">
                <img src="{{ asset(societe.idPhoto) }}" alt=""
                     class="img-fluid mx-md-auto d-block shadow rounded" height="90" width="90">
                <h4 class="mt-3 text-dark">{{ societe.nom }}</h4>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <p class="text-dark mb-0"><i class="fa fa-map-marker-alt mr-2"></i>{{ societe.adresse }}
                        </p>
                    </li>
                    <li class="list-inline-item">
                        <p class="text-success mb-0"><i class="fa fa-bookmark mr-2"></i>Vérifiée
                        </p>
                    </li>
                </ul>
                <ul class="list-inline mb-2">
                    <li class="list-inline-item mr-3 ">
                        <a href="http://www.{{ societe.nom|lower }}.tn" class="text-primary">
                            <i class="fa fa-globe-americas mr-2 text-dark"></i>
                            www.{{ societe.nom|lower }}.tn</a>
                    </li>

                    <li class="list-inline-item mr-3">
                        <p class="text-dark"><i class="fa fa-envelope mr-2"></i>{{ societe.user.email }}</p>
                    </li>

                    <li class="list-inline-item">
                        <p class="text-dark"><i class="fa fa-phone-alt mr-2"></i>{{ societe.tel }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <div class="col-md-12">
                <a class="btn btn-primary" href="{{ asset('/espace_societe/societe/'~societe.id~'/modifier') }}">
                    Modifier mon profil
                </a>
            </div>
            <div class="col-md-12 mt-4 pt-2">
                <ul class="nav nav-pills nav nav-pills bg-white shadow rounded nav-justified flex-column flex-sm-row"
                    id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link rounded active m-2" id="tout-offre-de-travail-tab" data-toggle="pill"
                           href="#tout-offre-de-travail" role="tab" aria-controls="tout-offre-de-travail"
                           aria-selected="true">Offres
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded m-2" id="tout-mission-tab" data-toggle="pill"
                           href="#tout-mission"
                           role="tab" aria-controls="tout-mission"
                           aria-selected="false">Missions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded m-2" id="tout-evenement-tab" data-toggle="pill" href="#tout-evenement"
                           role="tab" aria-controls="tout-evenement"
                           aria-selected="false">Evenements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded m-2" id="tout-formation-tab" data-toggle="pill" href="#tout-formation"
                           role="tab" aria-controls="tout-formation"
                           aria-selected="false">Formations
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded m-2" id="tout-revue-tab" data-toggle="pill" href="#tout-revue"
                           role="tab" aria-controls="tout-revue"
                           aria-selected="false">Revues
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link rounded m-2" id="tout-interview-tab" data-toggle="pill" href="#tout-interview"
                           role="tab" aria-controls="tout-interview"
                           aria-selected="false">Interviews
                        </a>
                    </li>
                </ul>
                <!--tab content-->
                <div class="tab-content p-3" id="pills-tabContent">
                    <!-- tab pane 1 -->
                    <div class="tab-pane fade show active" id="tout-offre-de-travail" role="tabpanel"
                         aria-labelledby="tout-offre-de-travail-tab">
                        <div class="row">
                            {% for offreDeTravail in societe.offreDeTravail %}
                                {% include '/back_end_societe/societe/offre_de_travail/modele_offre_de_travail.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end tab pane 1 -->
                    <!-- tab pane 2 -->
                    <div class="tab-pane fade" id="tout-mission" role="tabpanel"
                         aria-labelledby="tout-mission-tab">
                        <div class="row">
                            {% for mission in societe.mission %}
                                {% include '/back_end_societe/societe/mission/modele_mission.html.twig' %}
                            {% endfor %}
                        </div>
                    </div>
                    <!-- end tab pane 2 -->
                    <!-- tab pane 3 -->
                    <div class="tab-pane fade" id="tout-formation" role="tabpanel"
                         aria-labelledby="tout-formation-tab">
                        {% set formations = societe.formation %}
                        {% include '/back_end_societe/societe/formation/modele_formation.html.twig' %}
                    </div>
                    <!-- end tab pane 3 -->
                    <!-- tab pane 4 -->
                    <div class="tab-pane fade" id="tout-evenement" role="tabpanel"
                         aria-labelledby="tout-evenement-tab">
                        {% for evenement in societe.evenement %}
                            {% include '/back_end_societe/societe/evenement/modele_evenement.html.twig' %}
                        {% endfor %}
                    </div>
                    <!-- end tab pane 4 -->
                    <!-- tab pane 5 -->
                    <div class="tab-pane fade" id="tout-revue" role="tabpanel"
                         aria-labelledby="tout-revue-tab">
                        {% for offreDeTravail in societe.offreDeTravail %}
                            {% for candidatureOffre in offreDeTravail.candidatureOffre %}
                                {% for revue in candidatureOffre.revue %}
                                    {% include '/back_end_societe/societe/offre_de_travail/revue/modele_revue.html.twig' %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- end tab pane 5 -->
                    <!-- tab pane 6 -->
                    <div class="tab-pane fade" id="tout-interview" role="tabpanel"
                         aria-labelledby="tout-interview-tab">
                        {% for offreDeTravail in societe.offreDeTravail %}
                            {% for candidatureOffre in offreDeTravail.candidatureOffre %}
                                {% for interview in candidatureOffre.interview %}
                                    {% include '/back_end_societe/societe/offre_de_travail/interview/modele_interview.html.twig' %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                    <!-- end tab pane 6 -->
                </div>
                <!--end tab content-->
            </div>
        </div>
    </section>
    <!-- EMPLOYERS DETAILS END -->
{% endblock %}
