{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <script>
        document.getElementById("topnav").setAttribute("class", "scroll-active scroll");
    </script>
    <div style="height: 50px"></div>
    <!-- EMPLOYERS DETAILS START -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-sm-center">
                        <img src="{{ asset(societe.idPhoto) }}" alt=""
                             class="img-fluid mx-md-auto d-block" height="90" width="90">
                        <h4 class="mt-3 text-dark">{{ societe.nom }}</h4>
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <p class="text-muted mb-0"><i class="mdi mdi-map-marker mr-2"></i>Location</p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-success mb-0"><i class="mdi mdi-bookmark-check mdi-18px mr-2"></i>Verified
                                </p>
                            </li>
                        </ul>

                        <ul class="list-inline mb-2">
                            <li class="list-inline-item mr-3 ">
                                <p class="text-muted"><i class="mdi mdi-earth mr-2"></i>Website</p>
                            </li>

                            <li class="list-inline-item mr-3">
                                <p class="text-muted"><i class="mdi mdi-email mr-2"></i>{{ societe.user.email }}</p>
                            </li>

                            <li class="list-inline-item">
                                <p class="text-muted"><i class="mdi mdi-cellphone-iphone mr-2"></i>{{ societe.numTelSociete }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="border-top border-bottom pt-4 pb-4">
                        <div class="row justify-content-sm-center">
                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="text-sm-center m-14">
                                    <h5 class="text-dark mb-2">Offres de travail</h5>
                                    <a href="" >Consulter</a>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="text-sm-center m-14">
                                    <h5 class="text-dark mb-2">Formations</h5>
                                    <a href="" >Consulter</a>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="text-sm-center m-14">
                                    <h5 class="text-dark mb-2">Missions</h5>
                                    <a href="" >Consulter</a>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-3 col-6">
                                <div class="text-sm-center m-14">
                                    <h5 class="text-dark mb-2">Evenements</h5>
                                    <a href="" >Consulter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <h4>Company Overview :</h4>
                    <div class="rounded border p-4 mt-3">
                        <p class="text-muted">At vero eos accusamus iusto odio dignissimos ducimus blanditiis
                            praesentium voluptatum deleniti that is atque corrupti dolores et quas molestias excepturi
                            sint occaecati cupiditate non at provident similique sunt in culpa qui officia deserunt
                            mollitia animi id est laboru at dolorum fuga Nam libero tempore cum soluta nobis est
                            eligendi optio cumque nihil impedit quo minus quod maxime placeat facere possimus omnis
                            voluptas assumenda est omnis dolor repellendus at enim ipsam voluptatem quia voluptas aut
                            odit aut fugit Cum sociis natoque penatibus magnis dis parturient montes nascetur ridiculus
                            mus donec quam felis ultricies nec pellentesque eu pretium quis sem that phasellus viverra
                            nulla ut metus varius laoreet.</p>
                        <p class="text-muted">Nobis est eligendi optio cumque nihil impedit quo minus quod maxime at
                            placeat facere possimus omnis voluptas assumenda est omnis dolor repellendus at enim ipsam
                            eligendi optio cumque nihil impedit quo minus quod maxime placeat voluptatem quia that
                            voluptas aut odit aut fugit Cum sociis natoque penatibus magnis dis parturient montes,
                            nascetur ridiculus mus. Donec quam felis, ultricies nec this pellentesque eu pretium quis
                            sem hasellus viverra nulla ut metus varius laoreet uisque rutrum enean imperdie tiam
                            ultricies nisi vel augue.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <h4>Company Review :</h4>
                </div>

                <div class="col-lg-12 col-md-7">
                    <div class="shadow rounded p-4 mt-4">
                        <img src="{{ asset('https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/') }}"
                             alt="" height="90" class="float-left shadow rounded-pill mr-3">
                        <div class="d-block overflow-hidden">
                            <h6 class="text-muted font-weight-light float-right mb-0"><i
                                        class="mdi mdi-clock-outline mr-1"></i>32 minutes ago</h6>
                            <h5 class="mb-1"><a href="{{ asset('#') }}" class="text-dark">Mario Thomas</a></h5>
                            <small class="text-muted font-weight-bold">Web Developer</small>
                            <ul class="employers-icons list-inline mb-1">
                                <li class="list-inline-item mr-0 text-success"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mr-0 text-success"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mr-0 text-success"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mr-0 text-success"><i class="mdi mdi-star"></i></li>
                                <li class="list-inline-item mr-0 text-success"><i class="mdi mdi-star"></i></li>
                            </ul>
                            <p class="text-muted mb-0">Phasellus viverra nulla ut metus varius laoreet quisque rutrum
                                aenean imperdiet etiam ultricies nisi avel augue curabitur ullamcorper ultricies nisi
                                nam eget dui.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- EMPLOYERS DETAILS END -->

    <!-- javascript -->
    <script src="{{ asset('frontEnd/js/jquery.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/plugins.js') }}"></script>

    <!-- selectize js -->
    <script src="{{ asset('frontEnd/js/selectize.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/jquery.nice-select.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/app.js') }}"></script>
{% endblock %}