{% extends '/admin/base.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="row align-content-center">
            <div class="col-md-6">
                <p class="h1 m-5">Liste des revues</p>
            </div>
            <div class="col-md-5 m-auto">
                <a class="btn btn-primary float-right" href="{{ asset('admin/offre_de_travail/ajouter') }}">Ajouter une
                    revue</a>
            </div>
        </div>
        <table class="table border text-center">
            <tr class="text-uppercase text-dark font-weight-bold">
                <td>Candidat</td>
                <td>Offre</td>
                <td>Societe</td>
                <td>Note</td>
                <td>Objet</td>
                <td>Description</td>
                <td class="w-25">Date</td>
                <td>Actions</td>
            </tr>
            {% for revue in revues %}
                <tr>
                    <td>{{ revue.candidatureOffre.candidat.prenom }} {{ revue.candidatureOffre.candidat.nom }}</td>
                    <td>{{ revue.candidatureOffre.offreDeTravail.societe.nom }}</td>
                    <td>{{ revue.candidatureOffre.offreDeTravail.nom }}</td>
                    <td>{{ revue.nbEtoiles }}/5</td>
                    <td>{{ revue.objet }}</td>
                    <td>{{ revue.description }}</td>
                    <td>{{ revue.dateCreation|date("d-m-Y") }}</td>
                    <td>
                        <a class="btn btn-dark m-1"
                           href="{{ asset('admin/offre_de_travail/'~revue.id~'/modifier') }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger m-1"
                           href="{{ asset('admin/offre_de_travail/'~revue.id~'/supprimer') }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
