{% extends '/back_end_admin/base.html.twig' %}
{% block content %}
    <section class="container-fluid">
        <div class="row align-content-center">
            <div class="col-md-6">
                <p class="h1 m-5">Liste des publications</p>
            </div>
            <div class="col-md-5 m-auto">
                <a class="btn btn-primary float-right" href="{{ asset('espace_admin/publication/ajouter') }}">Ajouter une
                    publication</a>
            </div>
        </div>
        <table class="table bg-white border text-center">
            <tr class="text-uppercase text-dark font-weight-bold">
                <td>UserId</td>
                <td>Titre</td>
                <td>Description</td>
                <td class="w-25">Date</td>
                <td>Pourcentage like</td>
                <td>Actions</td>
            </tr>
            {% for publication in publications %}
                <tr>
                    <td>{{ publication.user.id }}</td>
                    <td>{{ publication.titre }}</td>
                    <td>{{ publication.description }}</td>
                    <td>{{ publication.date|date("d-m-Y") }}</td>
                    <td>{{ publication.pourcentageLike }} %</td>
                    <td>
                        <a class="btn btn-dark m-1"
                           href="{{ asset('espace_admin/publication/'~publication.id~'/modifier') }}">
                            Modifier
                        </a>
                        <a class="btn btn-danger m-1"
                           href="{{ asset('espace_admin/publication/'~publication.id~'/supprimer') }}">
                            Supprimer
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}
