{% extends '/frontEnd/base.html.twig' %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('/frontEnd/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/materialdesignicons.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/fontawesome.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/nice-select.css') }}"/>

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/selectize.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('/frontEnd/css/style.css') }}"/>
{% endblock %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"
             style="background-image: url({{ asset('/frontEnd/images/backgrounds/revue-background.png') }});">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">revues sur l'offre {{ offreDeTravail.description }} de la
                            societe : {{ offreDeTravail.societe.nomSociete }}</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{{ asset('/societe') }}" class="text-uppercase font-weight-bold">Societes</a>
                            </li>
                            <li><a href="{{ asset('/societe='~offreDeTravail.societe.id) }}"
                                   class="text-uppercase font-weight-bold">{{ offreDeTravail.societe.nomSociete }}</a>
                            </li>
                            <li><a href="{{ asset('/societe='~offreDeTravail.societe.id) }}"
                                   class="text-uppercase font-weight-bold">{{ offreDeTravail.description }}</a>
                            </li>
                            <li><span class="text-uppercase text-white font-weight-bold">Revues</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <br><br><br>
    <div class="text-center h2" style="color: red">{% if message != 'null' %}{{ message }}{% endif %}</div>
    <br><br><br>
    &nbsp&nbsp&nbsp&nbsp ICI RECHERCHE DEBUT---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br><br><br>

    &nbsp&nbsp&nbsp&nbsp
    <label for="search">RECHERCHE : </label><br>
    &nbsp&nbsp&nbsp&nbsp
    <input id="search" type="text" class="form-control" placeholder="Search"><br>
    <table id="table" class="table table-hover table-dark">
        <thead class="thead-dark">
        <tr>
            <td>ID</td>
            <td>NB ETOILES</td>
            <td>OBJET</td>
            <td>DESCRIPTION</td>
        </tr>
        </thead>
        <tbody id="all">
        {% for revue in revues %}
            <tr>
                <td>
                    {{ revue.id }}
                </td>
                <td>
                    {{ revue.nbEtoiles }}
                </td>
                <td>
                    {{ revue.objet }}
                </td>
                <td>
                    {{ revue.description }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tbody id="search">
        </tbody>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#search").keyup(function (e) {
                var value = $(this).val();
                $.ajax({
                    type: 'GET',
                    url: "/revue/recherche",
                    data: {
                        'searchValue': value
                    },
                    success: function (retour) {
                        if (retour) {
                            $('#table tbody#search').empty();
                            $.each(JSON.parse(retour), function (i, obj) {
                                $('#table tbody#all').hide();
                                $('#table tbody#search').append(
                                    '<tr><td> ' + obj.id +
                                    '</td><td>' + obj.nbEtoiles +
                                    '</td><td>' + obj.objet +
                                    '</td><td>' + obj.description +
                                    '</td><td></td></tr>');
                            })
                        } else {
                            $('#table tbody#all').show();
                            $('#table tbody#search').empty();
                            $('#table tbody#search').fadeIn('fast');
                        }
                    }
                });
                return false;
            });
        });
    </script>

    <br><br><br>
    &nbsp&nbsp&nbsp&nbsp ICI RECHERCHE FIN--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
    <br><br><br>

    {% if nbResults > 0 %}
        <!-- CANDIDATES LISTING START -->
        <section class="section pt-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <div class="show-results">
                            <div class="float-left">
                                <h5 class="text-dark mb-0 pt-2"> Affichage des revues :
                                    {% if nbResults > itemPerPage %}
                                        {{ firstItem +1 }} - {{ firstItem + itemPerPage }} de {{ nbResults }} revues en total
                                    {% else %}
                                        {{ nbResults }} revues en total
                                    {% endif %}
                                </h5>
                            </div>
                            <div class="sort-button text-center float-sm-right">
                                <ul class="list-unstyled mb-0">
                                    <li class="list-inline-item mb-0 mr-3">
                                        <select class="nice-select">
                                            <option data-display="Sort By">Nothing</option>
                                            <option value="1">Web Developer</option>
                                            <option value="2">PHP Developer</option>
                                            <option value="3">Web Designer</option>
                                        </select>
                                    </li>

                                    <li class="list-inline-item">
                                        <select class="nice-select">
                                            <option data-display="Default">Nothing</option>
                                            <option value="1">Web Developer</option>
                                            <option value="2">PHP Developer</option>
                                            <option value="3">Web Designer</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="col-md-10">
                        <div class="candidates-listing-item">
                            <!-- Single review Start-->
                            {% for revue in revues %}
                                <div class="border mt-3 rounded p-3">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="candidates-list-fav-btn text-left">
                                                <a href="#">
                                                    <div class="candidates-listing-btn overflow-hidden">
                                                        <div class="text-dark mb-2">
                                                            {% if revue.candidatureOffre %}
                                                                {% if revue.candidatureOffre.candidat %}
                                                                    <h6>{{ revue.candidatureOffre.candidat.prenom }}</h6>
                                                                    <h6>{{ revue.candidatureOffre.candidat.nom }}</h6>
                                                                {% endif %}
                                                            {% endif %}
                                                        </div>
                                                        <img src="https://via.placeholder.com/400X400//88929f/5a6270C/O https://placeholder.com/"
                                                             alt="" class="d-block rounded" height="90">
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="candidates-list-desc overflow-hidden job-single-meta  pt-2">
                                                <h5 class="mb-2 text-dark">{{ revue.objet }}</h5>
                                                <div style="font-size: 20px;">
                                                    {% for i in 0..4 %}
                                                        {% if revue.nbetoiles > i %}
                                                            <a class="mdi mdi-star"
                                                               style=" -webkit-text-stroke: 1px #ffc700; -webkit-text-fill-color: #ffc700 ;"></a>
                                                        {% else %}
                                                            <a class="mdi mdi-star"
                                                               style=" -webkit-text-stroke: 1px #ffc700; -webkit-text-fill-color: #FFFFFF ;"></a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <ul class="list-unstyled">
                                                    <li class="text-dark">
                                                        <i class="mdi mdi-office-building mr-1"></i>
                                                        Societe :
                                                        <a href="{{ asset('/societe='~revue.candidatureOffre.offreDeTravail.societe.id) }}">
                                                            {{ revue.candidatureOffre.offreDeTravail.societe.nomSociete }}</a>
                                                    </li>
                                                    <li class="text-dark">
                                                        <i class="mdi mdi-briefcase mr-1"></i>
                                                        Offre :
                                                        <a href="{{ asset('/societe='~revue.candidatureOffre.offreDeTravail.societe.id~'/offreDeTravail') }}">
                                                            {{ revue.candidatureOffre.offreDeTravail.description }}</a>
                                                    </li>
                                                    <li class="text-muted">
                                                        <i class="mdi mdi-currency-usd mr-1"></i>
                                                        $700 - $900/month
                                                    </li>
                                                </ul>
                                                <div class="text-break">
                                                    <p>{{ revue.description }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="candidates-list-fav-btn text-right">
                                                <div class="fav-icon">
                                                    <i class="mdi mdi-heart"></i>
                                                </div>
                                                {% set utilisateur = app.session.get('utilisateur') %}
                                                {% if utilisateur is not null %}
                                                    {% set idUtilisateur = utilisateur['idUtilisateur'] %}
                                                    {% set email = utilisateur['emailUtilisateur'] %}
                                                    {% if revue.candidatureOffre.candidat.utilisateur.id == idUtilisateur %}
                                                        <div class="candidates-listing-btn mt-2">
                                                            <a href="{{ asset('/societe='~revue.candidatureOffre.offreDeTravail.societe.id~'/offreDeTravail='~revue.candidatureOffre.offreDeTravail.id~'/revue='~revue.id~'/modifier') }}  "
                                                               class="btn btn-primary-outline btn-sm mt-1">Modifier
                                                                revue</a>
                                                            <a href="{{ asset('/societe='~revue.candidatureOffre.offreDeTravail.societe.id~'/offreDeTravail='~revue.candidatureOffre.offreDeTravail.id~'/revue='~revue.id~'/supprimer') }}  "
                                                               class="btn btn-primary-outline btn-sm mt-1">Supprimer
                                                                revue</a>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Single review END-->
                            {% if nbPages > 0 %}
                                <!-- Pagination START-->
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination job-pagination justify-content-center mb-0 mt-4 pt-2">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="{{ asset('#') }}" aria-disabled="true">
                                                <i class="mdi mdi-chevron-double-left"></i>
                                            </a>
                                        </li>
                                        {% for i in 1..(nbPages) %}
                                            {% if i == activePage %}
                                                <li class="page-item active">
                                                    <a class="page-link"
                                                       href="/societe={{ societe.id }}/revue/activePage={{ i }}">{{ i }}</a>
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item">
                                                    <a class="page-link"
                                                       href="/societe={{ societe.id }}/revue/activePage={{ i }}">{{ i }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        <li class="page-item">
                                            <a class="page-link" href="{{ asset('#') }}">
                                                <i class="mdi mdi-chevron-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- Pagination END -->
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- REVIEWS LISTING END -->

    {% else %}
        <h4 class="row justify-content-center p-5">Aucune revue pour cette societe</h4>
    {% endif %}
    <a class="row justify-content-center p-5">Ajputer une revue pour cette societe avec l'offre : </a>
    offres de travails pour {{ offreDeTravail.societe.nomSociete }} :

    <a href="/revue/offreDeTravail={{ offreDeTravail.id }}/ajouter" class="h2 text-center">Publier une revue pour l'offre
        : {{ offreDeTravail.description }}</a>

    <!-- subscribe start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="float-left position-relative notification-icon mr-2">
                        <i class="mdi mdi-bell-outline text-primary"></i>
                        <span class="badge badge-pill badge-danger">1</span>
                    </div>
                    <h5 class="mt-2 mb-0">Your Job Notification</h5>
                </div>
                <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                    <form>
                        <div class="form-group mb-0">
                            <div class="input-group mb-0">
                                <input name="email" id="email" type="email" class="form-control overflow"
                                       placeholder="Your email :" required="" aria-describedby="newssubscribebtn">
                                <div class="input-group-append">
                                    <button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">
                                        Subscribe
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- subscribe end -->
{% endblock %}
{% block js %}
    <!-- javascript -->
    <script src="{{ asset('/frontEnd/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/frontEnd/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('/frontEnd/js/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('/frontEnd/js/plugins.js') }}"></script>

    <!-- selectize js -->
    <script src="{{ asset('/frontEnd/js/selectize.min.js') }}"></script>

    <script src="{{ asset('/frontEnd/js/jquery.nice-select.min.js') }}"></script>
    <script src="{{ asset('/frontEnd/js/app.js') }}"></script>
{% endblock %}