{% extends '/frontEnd/base.html.twig' %}
{% block css %}
    <link rel="shortcut icon" href="{{ asset('frontEnd/images/favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('frontEnd/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/materialdesignicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/fontawesome.css') }}">

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/selectize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/nice-select.css') }}">

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/style.css') }}">

    <!-- Review rating css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/rating.css') }}"/>
{% endblock %}
{% block topImage %}{% endblock %}
{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level" style="background-image: url({{ asset('/frontEnd/images/backgrounds/revue-background.png') }});">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">{{ manipulation }} une revue</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li>
                                <a href="{{ asset('frontEnd/index.html') }}" class="text-uppercase font-weight-bold">Societes</a>
                            </li>
                            <li>
                                <span class="text-uppercase text-white font-weight-bold">{{ societe.nomSociete }}</span>
                            </li>
                            <li>
                                <span class="text-uppercase text-white font-weight-bold"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->
    <!-- POST A JOB START -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="rounded shadow bg-white p-4">
                        <div class="custom-form">
                            <div id="message3"></div>
                            <h4 class="text-dark mb-3">Ajouter une revue :</h4>
                            {{ form_start(form) }}
                            {% do form.nbEtoiles.setRendered() %}
                            {% do form.objet.setRendered() %}
                            {% do form.description.setRendered() %}
                            {% do form.submit.setRendered() %}

                            <div class="row">
                                <!-- <label for="revue_nbEtoiles">Note :</label> -->
                                <div id="revue_nbEtoiles" class="rate">
                                    <input type="radio" id="revue_nbEtoiles_0" name="revue[nbEtoiles]"
                                           value="1"/>
                                    <label for="revue_nbEtoiles_0" title="text">1 stars</label>
                                    <input type="radio" id="revue_nbEtoiles_1" name="revue[nbEtoiles]"
                                           value="2"/>
                                    <label for="revue_nbEtoiles_1" title="text">2 stars</label>
                                    <input type="radio" id="revue_nbEtoiles_2" name="revue[nbEtoiles]"
                                           value="3"/>
                                    <label for="revue_nbEtoiles_2" title="text">3 stars</label>
                                    <input type="radio" id="revue_nbEtoiles_3" name="revue[nbEtoiles]"
                                           value="4"/>
                                    <label for="revue_nbEtoiles_3" title="text">4 stars</label>
                                    <input type="radio" id="revue_nbEtoiles_4" name="revue[nbEtoiles]"
                                           value="5"/>
                                    <label for="revue_nbEtoiles_4" title="text">5 star</label>
                                </div>
                            </div>
                            {{ form_errors(form.nbEtoiles) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Objet</label>
                                        <input class="form-control resume" type="text" id="revue_objet"
                                               name="revue[objet]" maxlength="255">
                                        {{ form_errors(form.objet) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group app-label mt-2">
                                        <label class="text-muted">Description</label>
                                        <textarea class="form-control resume" id="revue_description"
                                                  name="revue[description]" maxlength="255"></textarea>
                                        {{ form_errors(form.description) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mt-2">
                                    <button class="btn btn-primary" type="submit" id="revue_submit"
                                            name="revue[submit]">{{ manipulation }}</button>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- POST A JOB END -->
    {% block js %}
        <!-- javascript -->
        <script src="{{ asset('frontEnd/js/jquery.min.js') }}"></script>
        <script src="{{ asset('frontEnd/js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ asset('frontEnd/js/jquery.easing.min.js') }}"></script>
        <script src="{{ asset('frontEnd/js/plugins.js') }}"></script>

        <!-- selectize js -->
        <script src="{{ asset('frontEnd/js/selectize.min.js') }}"></script>

        <script src="{{ asset('frontEnd/js/jquery.nice-select.min.js') }}"></script>

        <script src="{{ asset('frontEnd/js/app.js') }}"></script>
        <div class="selectize-dropdown single demo-default"
             style="display: none; width: 106px; top: 40.6px; left: 1208.6px;">
            <div class="selectize-dropdown-content"></div>
        </div><span
            style="position: absolute; top: -99999px; left: -99999px; width: auto; padding: 0px; white-space: pre; letter-spacing: 0px; font-size: 13px; font-family: Nunito, sans-serif; font-weight: 400; text-transform: none;">Language</span>
    {% endblock %}
{% endblock %}