<!DOCTYPE html>

<title>Competence index</title>

{% block body %}
    <h1>Competence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td>{{ competence.id }}</td>
                <td>{{ competence.name }}</td>
                <td>{{ competence.level }}</td>
                <td>
                    <a href="{{ path('competence_show', {'id': competence.id}) }}">show</a>
                    <a href="{{ path('competence_edit', {'id': competence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('competence_new') }}">Create new</a>
{% endblock %}
