{% extends '/backEnd/base.html.twig' %}
{% block content %}
    <section class="bg-home"
             style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">Ajouter vos questions</h1>
                            </div>
                            <a href={{'#'}} id="dynamic" class="btn btn-outline-primary">Ajouter question</a>
                            {# {{ form_widget(form.description, {'id': 'animal_race','attr': {'placeholder': 'mission name','class': 'form-control'}}) }} #}
                             {# <form class="test" >
        {{ form_widget(form) }}
    </form> #}
                            {# <input type="text"  class="form-control"> #}
                            <div id="dynamic2">
                              
                            </div>
                            <a href="{{path('mission')}}" id="save" class="submitBnt btn btn-primary btn-block mx-auto" style='width: 300px;'>ajouter</a>
                             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                           <script>
        {# var s=$('.test').serialize();
             #}
             var i={{id2}};
        var id = 0;
        $("#dynamic").click(function () {
            $.ajax({
                    type: 'GET',
                    url: 'ajouterchamp/pp',
                    data: $(".form-control").val(),
                    success: function (retour) {
                            $("#dynamic2").append(" <input type=\"text\" id=" + id + " placeholder='donner votre nom'  class=\"form-control\">")
                        id = id + 1; 
                    },
                    error: function () {
                        alert('Erreur ajax ajout champ');
                    }
                }
            );
            return false;
        });

        $("#save").click(function () {
         var ch =$("#0").val();
            for (let i = 1; i < id+1; i++) {
               ch =ch+','+ $("#" + i).val();
           
            }
          
            $.ajax({
                    type: 'GET',
                    url: 'ajouterQuestionnaire/p',
                    data: {'tab': ch,
                            'id':i},
                    success:function(){
                            window.location.href = 'http://127.0.0.1:8000/mission'; 
                    },
                }
            );
            
            return false;
        });
    </script>
                           {# {{form(form)}} #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}