{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-home" style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white align-content-center">
                                {{ form_start(form) }}
                                <h1 class="heading font-weight-bold mb-4"> {{ manipulation }} une experience de travail </h1>
                                {% set attributs=[form.description, form.titreEmploi, form.nomEntreprise, form.ville,
                                    form.duree, form.candidat] %}
                                {% set labels =["Description", "Titre Emploi", "Nom Entreprise","Ville","Duree","Candidat"] %}
                                % for i in 0..attributs|length-1 %}
                                    {{ form_label(attributs[i], labels[i]) }}
                                    {{ form_widget(attributs[i]) }}
                                    {{ form_errors(attributs[i]) }}<br>
                                {% endfor %}
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}