{% extends '/back_end_societe/base.html.twig' %}
{% block title %}Khedemti | Evenements{% endblock %}
{% block content %}
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row m-2">
                    <h2 class="col-md-9 m-0 text-primary">Vos Evenements</h2>
                    <a class="col-md-3 btn btn-primary float-right"
                       href="{{ asset('espace_societe/evenement/ajouter') }}">
                        + Ajouter un evenement
                    </a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable">
                        <thead>
                        <tr class="text-dark">
                            <th>Titre</th>
                            <th>Debut</th>
                            <th>Fin</th>
                            <th>Description</th>
                            <th>Toute la journée</th>
                            <th style="width: 13%">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for evenement in evenements %}
                            <tr>
                                <td>{{ evenement.titre }}</td>
                                <td>{{ evenement.debut ? evenement.debut|date('Y-m-d') : '' }}</td>
                                <td>{{ evenement.fin ? evenement.fin|date('Y-m-d') : '' }}</td>
                                <td>{{ evenement.description }}</td>
                                <td>{{ evenement.allDay ? 'Yes' : 'No' }}</td>
                                <td>
                                    <a href="{{ asset('espace_societe/evenement/'~evenement.id~'/afficher') }}"
                                       class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm m-1">
                                        <i class="fa fa-book"></i> Afficher
                                    </a>
                                    <a href="{{ asset('espace_societe/evenement/'~evenement.id~'/modifier') }}"
                                       class="d-none d-sm-inline-block btn btn-sm btn-dark shadow-sm m-1">
                                        <i class="fa fa-pen"></i> Modifier
                                    </a>
                                    <form method="post"
                                          action="{{ asset('espace_societe/evenement/'~evenement.id~'/supprimer') }}"
                                          onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet evenement ?');">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ evenement.id) }}">
                                        <input type="submit" class="btn btn-danger" value="Supprimer">
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="8">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="navigation text-center mb-5">
                {{ knp_pagination_render(evenements, '/back_end_societe/template_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
