<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h5 class="m-0 font-weight-bold text-primary">{{ evenement.titre }}</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody>
                    <tr>
                        <th>Societe</th>
                        <td>{{ evenement.societe.nom }}</td>
                    </tr>
                    <tr>
                        <th>Titre</th>
                        <td>{{ evenement.titre }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ evenement.description }}</td>
                    </tr>
                    <tr>
                        <th>Debut</th>
                        <td>{{ evenement.debut ? evenement.debut|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Fin</th>
                        <td>{{ evenement.fin ? evenement.fin|date('Y-m-d') : '' }}</td>
                    </tr>
                    <tr>
                        <th>Toute la journée</th>
                        <td>{{ evenement.allDay ? 'Oui' : 'Non' }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
