{% extends '/front_end/base.html.twig' %}
{% block title %}Khedemti | Missions{% endblock %}
{% block content %}
    <section class="bg-half page-next-level"
             style="background-image: url({{ asset('front-end/images/backgrounds/2000x1100/BG-missions.jpg') }});">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center text-white">
                        <h4 class="text-uppercase title mb-4">Missions</h4>
                        <ul class="page-next d-inline-block mb-0">
                            <li><a href="{{ asset('/societe') }}"
                                   class="text-uppercase font-weight-bold">Societes</a>
                            </li>
                            <li><a href="{{ asset('/mission/'~mission.id~'/afficher') }}"
                                   class="text-uppercase font-weight-bold">{{ mission.nom }}</a>
                            </li>
                            <li><span class="text-uppercase text-white font-weight-bold">Missions</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- blog start -->
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Mission : {{ mission.nom }}</h4>
                        <p class="text-dark para-desc mx-auto mb-1">
                            Repondez au quiz pour pouvoir candidater a cette mission
                        </p>
                    </div>
                </div>
            </div>
            <form type="GET" action="{{ asset('/mission/'~mission.id~'/candidater_mission') }}">
                <div class="form-group">
                    {% set i = 1 %}
                    {% for question in mission.question %}
                        <div class="row my-4">
                            <div class="col-md-3 my-auto text-center">
                                <label for="reponse-{{ i }}">
                                    <b class="text-primary">Question {{ i }}&nbsp&nbsp:&nbsp&nbsp</b>
                                    <b class="text-dark">{{ question.description }}</b>
                                </label>
                            </div>
                            <div class="col-md-9 my-auto">
                                <input id="reponse-{{ i }}" name="reponse-{{ i }}" type="text" class="text-center form-control w-100"
                                       placeholder="Reponse pour la question {{ i }}">
                            </div>
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                    <div class="col-md-5 m-auto">
                        <input type="submit" class="btn btn-primary w-100 mt-5" value="Valider">
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- blog end -->
{% endblock %}

