{% extends '/frontEnd/base.html.twig' %}
{% block topImage %}
    <section class="bg-home"
             style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">candidature pour la mission</h1>
                            </div>
                             {% set pi = 0 %}
                            {% for quest in question %}
                           
                            <div class="input-group p-2">
                               <span class="input-group-text" style="background-color: #8D9595;"> {{quest.description}}</span>
                                <input type="text" class="form-control" placeholder="votre réponse" id="{{pi}}" >
                            </div>
                            {% set pi = pi + 1 %}
                            {% endfor %}
                            <a href="#" id="save" class="submitBnt btn btn-primary btn-block mx-auto">ajouter</a>
                             <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                            <script>
                            var num={{num}};
                            {# alert(num); #}
                            $("#save").click(function () {
                                  var ch="";
                                  var nb = {{nb}};
                                  var id ={{id}}
                           var ch =$("#0").val();
                           for (let i = 1; i < nb+1; i++) {
                                   ch =ch+','+ $("#" + i).val();
                               }
                                 $.ajax({
                    type: 'GET',
                    url: 'condidature/i',
                    data: {'ch':ch,
                           'id':id,
                           'num':num+1},
                    success:function(retour){
                           window.location.href = 'http://127.0.0.1:8000/mission'; 
                    },
                }
            );
                            })       
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
{% endblock %}