{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{% do form.candidatureOffre.setRendered() %}
<div class="row">
    <div class="col-md-12">
        <div class="form-group app-label mt-2">
            <div class="text-left">
                {{ form_label(form.difficulte) }} <b class="text-danger">*</b> :
                {{ form_errors(form.difficulte) }}
            </div>
            {{ form_widget(form.difficulte, {
                'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group app-label mt-2">
            <div class="text-left">
                {{ form_label(form.description) }} <b class="text-danger">*</b> :
                {{ form_errors(form.description) }}
            </div>
            {{ form_widget(form.description, {
                'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 m-auto">
        {{ form_widget(form.submit, {
            'label' : manipulation,
            'attr': {
                'class': 'form-control btn btn-primary font-weight-lighter',
            }
        }) }}
    </div>
</div>
{{ form_end(form) }}
