<!DOCTYPE html>

<title>Education index</title>

{% block body %}
    <h1>Education index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>NiveauEducation</th>
                <th>Filiere</th>
                <th>Etablissement</th>
                <th>Ville</th>
                <th>Duree</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for education in education %}
            <tr>
                <td>{{ education.id }}</td>
                <td>{{ education.description }}</td>
                <td>{{ education.niveauEducation }}</td>
                <td>{{ education.filiere }}</td>
                <td>{{ education.etablissement }}</td>
                <td>{{ education.ville }}</td>
                <td>{{ education.duree }}</td>
                <td>
                    <a href="{{ path('education_show', {'id': education.id}) }}">show</a>
                    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('education_new') }}">Create new</a>
{% endblock %}
