<!DOCTYPE html>

<title>Education</title>

{% block body %}
    <h1>Education</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ education.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ education.description }}</td>
            </tr>
            <tr>
                <th>NiveauEducation</th>
                <td>{{ education.niveauEducation }}</td>
            </tr>
            <tr>
                <th>Filiere</th>
                <td>{{ education.filiere }}</td>
            </tr>
            <tr>
                <th>Etablissement</th>
                <td>{{ education.etablissement }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ education.ville }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ education.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('education_index') }}">back to list</a>

    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>

    {{ include('education/_delete_form.html.twig') }}
{% endblock %}
