<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Inscription - Khedemti</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Themesdesign"/>

    <link rel="shortcut icon" href="{{ asset('frontEnd/images/favicon.ico') }}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('frontEnd/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/materialdesignicons.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/selectize.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/nice-select.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/style.css') }}"/>

</head>

<body>
<!-- Loader -->
<div id="preloader">
    <div id="status">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<!-- Loader -->

<div class="back-to-home rounded d-none d-sm-block">
    <a href="{{ asset('publication') }}" class="text-white rounded d-inline-block text-center"><i
                class="mdi mdi-home"></i></a>
</div>

<!-- Hero Start -->
<section class="vh-100"
         style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="login_page bg-white shadow rounded p-4">
                            <div class="text-center">
                                <h4 class="mb-4">Insciption candidat</h4>
                            </div>
                            {{ form_start(form) }}
                            {% do form.nom.setRendered() %}
                            {% do form.prenom.setRendered() %}
                            {% do form.dateNaissance.setRendered() %}
                            {% do form.sexe.setRendered() %}
                            {% do form.tel.setRendered() %}
                            {% do form.idPhoto.setRendered() %}
                            {% do form.submit.setRendered() %}

                            <form name="candidat" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="candidat_nom" class="required">Nom</label>
                                            {{ form_errors(form.nom) }}
                                            <input type="text"
                                                   id="candidat_nom"
                                                   name="candidat[nom]"
                                                   maxlength="255"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="candidat_prenom" class="required">Prenom</label>
                                            {{ form_errors(form.prenom) }}
                                            <input type="text"
                                                   id="candidat_prenom"
                                                   name="candidat[prenom]"
                                                   maxlength="255"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group mb-0">
                                            <label for="date-de-naissance" class="required">Date de naissance</label>
                                            {{ form_errors(form.dateNaissance) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group position-relative">
                                            <label for="candidat_dateNaissance_day" class="required ml-2"
                                                   style="color: grey; font-size : 12px">Jour</label>
                                            <input type="text" id="candidat_dateNaissance_day"
                                                   name="candidat[dateNaissance][day]"
                                                   maxlength="255"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group position-relative">
                                            <label for="candidat_dateNaissance_month" class="required ml-2"
                                                   style="color: grey; font-size : 12px">Mois</label>
                                            <div class="form-group">
                                                <select id="candidat_dateNaissance_month"
                                                        name="candidat[dateNaissance][month]"
                                                        class="nice-select rounded w-100">
                                                    {% set mois=["Janvier","Fevrier","Mars","Avril","May","Juin",
                                                        "Juillet","Aout","Septembre","Octobre","Novembre","Decembre"] %}
                                                    {% for i in 1..12 %}
                                                        <option value="{{ i }}">{{ mois[i-1] }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group position-relative">
                                            <label for="candidat_dateNaissance_year" class="required ml-2"
                                                   style="color: grey; font-size : 12px">Année</label>
                                            <input type="text" id="candidat_dateNaissance_year"
                                                   name="candidat[dateNaissance][year]"
                                                   maxlength="255"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="candidat_sexe" class="required">Sexe</label>
                                            {{ form_errors(form.sexe) }}
                                            <input type="text" id="candidat_sexe"
                                                   name="candidat[sexe]"
                                                   maxlength="255"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label for="candidat_tel" class="required">Numero tel</label>
                                            {{ form_errors(form.tel) }}
                                            <input type="text" id="candidat_tel"
                                                   name="candidat[tel]"
                                                   maxlength="8"
                                                   class="form-control"
                                                   placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group position-relative mb-0">
                                        <div class="col-md-12">
                                            <label for="candidat_idPhoto">Photo candidat</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group position-relative">
                                            {{ form_errors(form.idPhoto) }}
                                            <input type="file" id="candidat_idPhoto" name="candidat[idPhoto]">
                                        </div>
                                    </div>
                                </div><!--end row-->
                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" id="candidat_submit"
                                                class="btn btn-primary"
                                                name="candidat[submit]">S'inscrire
                                        </button>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </form><!--end form-->
                            {{ form_end(form) }}
                            <div class="col-lg-12 mt-4 text-center">
                                <h6>Or Signup With</h6>
                                <ul class="list-unstyled social-icon mb-0 mt-3">
                                    <li class="list-inline-item"><a href="{{ asset('frontEnd/javascript:void(0)') }}"
                                                                    class="rounded"><i
                                                    class="mdi mdi-facebook" title="Facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="{{ asset('frontEnd/javascript:void(0)') }}"
                                                                    class="rounded"><i
                                                    class="mdi mdi-google-plus" title="Google"></i></a></li>
                                    <li class="list-inline-item"><a href="{{ asset('frontEnd/javascript:void(0)') }}"
                                                                    class="rounded"><i
                                                    class="mdi mdi-github-circle" title="Github"></i></a>
                                    </li>
                                </ul><!--end icon-->
                            </div>
                        </div>
                    </div>
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </div>
</section><!--end section-->
<!-- Hero End -->

<!-- javascript -->
<script src="{{ asset('frontEnd/js/jquery.min.js') }}"></script>
<script src="{{ asset('frontEnd/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('frontEnd/js/jquery.easing.min.js') }}"></script>
<script src="{{ asset('frontEnd/js/plugins.js') }}"></script>

<!-- selectize js -->
<script src="{{ asset('frontEnd/js/selectize.min.js') }}"></script>

<script src="{{ asset('frontEnd/js/jquery.nice-select.min.js') }}"></script>

<script src="{{ asset('frontEnd/js/app.js') }}"></script>
</body>
</html>