{% extends '/front_end/base.html.twig' %}
{% block content %}
    <section class="bg-home"
             style="background-image: url({{ asset('images/backgrounds/offres-de-travail-BG.jpg') }})">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">Offres de travail</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-10 p-5">
        <table border="2" class="table">
            <tr>
                {% set labels =["ID", "Description", "Societe", "Categorie","Candidatures"] %}
                {% for i in 0..labels|length-1 %}
                    <td><b>{{ labels[i] }}</b></td>
                {% endfor %}
                <td><b>Operations</b></td>
                {% for offreDeTravail in offreDeTravails %}
            <tr>
                <td>{{ offreDeTravail.id }}</td>
                <td>{{ offreDeTravail.description }}</td>
                <td>{{ offreDeTravail.societe.id }}</td>
                {% if offreDeTravail.categorie %}
                    <td>{{ offreDeTravail.categorie.nomCategorie }}</td>
                {% else %}
                    <td>
                        Aucune categorie
                    </td>
                {% endif %}
                {% if offreDeTravail.candidatureOffre %}
                    <td>
                        {% for candidature in offreDeTravail.candidatureOffre %}
                            Candidature {{ candidature.id }} : {{ candidature.candidat.prenom }} /
                            offre : {{ candidature.offreDeTravail.description }} a {{ candidature.offreDeTravail.societe.nom }}
                            <br>
                        {% endfor %}
                    </td>
                {% else %}
                    <td>
                        Aucune candidature
                    </td>
                {% endif %}
                <td>
                    {% set hasCandidatures = false %}
                    {% if app.user %}
                        {% if offreDeTravail.candidatureOffre %}
                            {% for candidatureOffre in offreDeTravail.candidatureOffre %}
                                {% if app.user.candidat.id == candidatureOffre.candidat.id %}
                                    {% set hasCandidatures = true %}
                                    <p>
                                        Vous avez candidaté pour cette offre
                                    </p>
                                    <a href="{{ asset('candidature_offre/'~candidatureOffre.id~'/supprimer') }}">
                                        Supprimer candidature</a>
                                    <br>------------<br>
                                    <a href="{{ asset('revue/'~candidatureOffre.id~'/ajouter') }}">
                                        Ajouter une revue pour cette offre</a><br>
                                    <a href="{{ asset('#') }}">
                                        Ajouter une interview pour cette offre</a>
                                    <br>------------<br>
                                {% else %}
                                    {% set hasCandidatures = false %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if not hasCandidatures %}
                            <a href="{{ asset('candidature_offre/'~offreDeTravail.id~'/ajouter') }}">
                                Candidater pour cette offre
                            </a>
                            <br>
                        {% endif %}
                    {% else %}
                        Veuillez vous connecter pour candidater
                        <br>------------<br>
                    {% endif %}
                    <a href="{{ asset('revue') }}">
                        Voir les revues pour cette offre</a><br>
                    <a href="{{ asset('interview') }}">
                        Voir les interviews pour cette offre</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}