{% extends '/front_end/base.html.twig' %}
{% block content %}
    <!-- blog start -->
    <section class="bg-home"
             style="background: url({{ asset('/frontEnd/images/BG-offres.jpg') }}) center center;">
        <div class="bg-overlay"></div>
    </section>
    <section class="section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="section-title text-center mb-4 pb-2">
                        <h4 class="title title-line pb-5">Offres de travail</h4>
                        <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll
                            quickly match you with the right freelancers.</p>
                    </div>
                </div>
            </div>
            <div id="body2" class="row">
            </div>
            <div class="row" id="body1">
                {% for offre in offresDeTravail %}
                    <div class="col-lg-4 col-md-6 mt-4 pt-2">
                        <div class="blog position-relative overflow-hidden shadow rounded bg-white">
                            <div class="position-relative overflow-hidden">
                                <img src="{{ asset('/frontEnd/images/how-it-work/img-1.png') }}"
                                     class="img-fluid rounded-top mx-auto d-block" alt="" height="50">
                                <div class="overlay rounded-top bg-dark"></div>
                                <div class="likes">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item mr-2"><a
                                                    href="{{ asset('#') }}"
                                                    class="text-white like"><i class="mdi mdi-heart-outline mr-1"></i>33</a>
                                        </li>
                                        <li class="list-inline-item"><a
                                                    href="{{ asset('#') }}"
                                                    class="text-white comments"><i
                                                        class="mdi mdi-comment-outline mr-1"></i>08</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="content p-4">
                                <h4><a href="{{ asset('#') }}"
                                       class="title text-dark">

                                        {{ offre.nom }}
                                    </a></h4>
                                <p class="text-muted">
                                    {{ offre.description }}
                                </p>
                                <a href="{{ asset('#') }}" class="text-dark readmore">Read
                                    more <i class="mdi mdi-chevron-right"></i></a>
                            </div>
                            <div class="author">
                                <p class=" mb-0"><i class="mdi mdi-account text-light"></i> <a
                                            href="{{ asset('#') }}"
                                            class="text-light user">{{ offre.societe.nom }}</a></p>
                                <p class="text-light mb-0 date"><i class="mdi mdi-calendar-check"></i>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <!--end col-->
            </div>
        </div>
    </section>
    <!-- blog end -->
{% endblock %}

