<!DOCTYPE html>

<title>ExperienceDeTravail</title>

{% block body %}
    <h1>ExperienceDeTravail</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ experience_de_travail.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ experience_de_travail.description }}</td>
            </tr>
            <tr>
                <th>TitreEmploi</th>
                <td>{{ experience_de_travail.titreEmploi }}</td>
            </tr>
            <tr>
                <th>NomEntreprise</th>
                <td>{{ experience_de_travail.nomEntreprise }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ experience_de_travail.ville }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ experience_de_travail.duree }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('experience_de_travail_index') }}">back to list</a>

    <a href="{{ path('experience_de_travail_edit', {'id': experience_de_travail.id}) }}">edit</a>

    {{ include('experience_de_travail/_delete_form.html.twig') }}
{% endblock %}
