{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="page-next-level">
        <div class="p-5 bg-dark"></div>
        <div class="p-4 bg-dark"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="row p-3 col-md-12">
                    <table border="2" class="table">
                        <tr>
                                <td>Destinataire : {{ destinataire.prenom }} {{ destinataire.nom }}</td>
                        </tr>
                        {% for message in messages %}
                            <tr>
                                <td>
                                    <p class="float-right">message {{ message.id }} : {{ message.contenu }}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="float-left">message {{ message.id+2 }} : {{ message.contenu }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        <td>
                            Nouveau message :  <input type="text">
                        </td>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}