{% extends '/frontEnd/base.html.twig' %}
{% block content %}
    <section class="bg-home"
             style="background: url('https://via.placeholder.com/2000X1333//88929f/5a6270C/O https://placeholder.com/') center center;">
        <div class="bg-overlay"></div>
        <div class="home-center">
            <div class="home-desc-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="title-heading text-center text-white">
                                <h1 class="heading font-weight-bold mb-4">Missions</h1>
                                <a href="{{ asset('/societe='~0~'/mission/ajouter') }}">Ajouter mission</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-md-10 p-5">
        <table border="2" class="table">
            <tr>
                {% set labels =["ID","Date", "Nombre heure", "Prix heure","Societe"] %}
                {% for i in 0..labels|length-1 %}
                    <td><b>{{ labels[i] }}</b></td>
                {% endfor %}
                <td><b>Operations</b></td>
                {% for mission in missions %}
            <tr>
                <td>{{ mission.id }}</td>
                <td>{{ mission.date|date("d/m/Y") }}</td>
                <td>{{ mission.nbheure }}</td>
                <td>{{ mission.prixH }}</td>
                <td>{{ mission.societe.id }}</td>
                <td>
                    <a href="{{ asset('societe/mission='~mission.id~'/modifier/') }}">Modifier</a>
                    <a href="{{ asset('societe/mission='~mission.id~'/supprimer/') }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}