{% extends '/front_end/base.html.twig' %}
{% block css %}
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ asset('frontEnd/css/bootstrap.min.css') }}" type="text/css">

    <!--Material Icon -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/materialdesignicons.min.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/fontawesome.css') }}"/>

    <!-- selectize css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/selectize.css') }}"/>

    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/nice-select.css') }}"/>

    <!-- Custom  Css -->
    <link rel="stylesheet" type="text/css" href="{{ asset('frontEnd/css/style.css') }}"/>
{% endblock %}

{% block content %}
    <!-- Start home -->
    <section class="bg-half page-next-level"
             style="background-image: url({{ asset('/frontEnd/images/BG-entre.jpg') }});">
        <div class="bg-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="candidates-profile-details text-center">
                        <img src="{{ asset(candidat.idPhoto) }}"
                             height="150" alt="" class="d-block mx-auto shadow rounded-pill mb-4">
                        <h5 class="text-white mb-2">{{ candidat.nom }} {{ candidat.prenom }}  </h5>
                        <p class="text-white-50 h6 mb-2"><i class="mdi mdi-bank mr-2"></i>Web Themes.pvt.Ltd</p>
                        <p class="text-white-50 h6 mb-2">PHP Developer</p>
                        <ul class="candidates-profile-icons list-inline mb-3">
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="text-warning"><i
                                            class="mdi mdi-star"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="text-warning"><i
                                            class="mdi mdi-star"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="text-warning"><i
                                            class="mdi mdi-star"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="text-warning"><i
                                            class="mdi mdi-star"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="text-warning"><i
                                            class="mdi mdi-star"></i></a></li>
                        </ul>

                        <ul class="list-unstyled social-icon social mb-0">
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="rounded"><i
                                            class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="rounded"><i
                                            class="mdi mdi-twitter"></i></a>
                            </li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="rounded"><i
                                            class="mdi mdi-instagram"></i></a></li>
                            <li class="list-inline-item"><a href="{{ asset('#') }}" class="rounded"><i
                                            class="mdi mdi-google-plus"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end home -->

    <!-- CANDIDATES PROFILE START -->
    <section class="section">
        <div class="container">
            {% if app.user == candidat.user %}
                <div class="row text-center">
                    <div class="col-lg-3 border p-2">
                        <i class="mdi mdi-pencil"></i>
                        <a class="text-dark" href="{{ asset('candidat/'~candidat.id~'/modifier') }}">Modifier profil</a>
                    </div>
                    <div class="col-lg-3 border p-2">
                        <i class="mdi mdi-email"></i><a class="text-dark" href="#">
                            Changer email</a>
                    </div>
                    <div class="col-lg-3 border p-2">
                        <i class="mdi mdi-key-variant"></i><a class="text-dark" href="#">
                            Changer mot de passe</a>
                    </div>
                    <div class="col-lg-3 border p-2">
                        <i class="mdi mdi-settings"></i><a class="text-dark" href="#">
                            Parametres du compte</a>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <h4 class="text-dark">Education :</h4>
                    {% if app.user == candidat.user %}
                        <a class="btn btn-dark-outline" href="{{ path("ajouter_education") }}">Ajouter education</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% for education in educations %}
                    <div class="col-lg-4 col-md-6 mt-4 pt-5">
                        <div class="border rounded candidates-profile-education text-center text-muted">
                            <div class="profile-education-icon border rounded-pill bg-white text-primary">
                                <i class="mdi mdi-36px mdi-school"></i>
                            </div>
                            <h6 class="text-uppercase f-17"><a href="{{ asset('#') }}" class="text-muted">
                                    {{ education.niveauEducation }}</a>
                            </h6>
                            <p class="f-14 mb-1"><i class="mdi mdi-briefcase"> </i>{{ education.etablissement }}</p>
                            <p class="pb-3 mb-0">{{ education.filiere }}</p>
                            <p class="pb-3 mb-0">{{ education.description }}</p>

                            {% if app.user == candidat.user %}
                                <div class="pt-3 border-top mb-0">
                                    <a href="{{ path("modifier_education",{'idEducation': education.id } ) }}">
                                        <i class="mdi mdi-pencil text-center p-2"></i>Modifier education
                                    </a>
                                </div>
                                <div class="pt-3 mb-0">
                                    <a href="{{ path("supprimer_education",{'idEducation': education.id } ) }}">
                                        <i class="mdi mdi-trash-can text-center p-2"></i>Supprimer education
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <h4 class="text-dark">Experience :</h4>
                    {% if app.user == candidat.user %}
                        <a class="btn btn-dark-outline" href="{{ path("ajouter_experience_de_travail") }}">Ajouter
                            experience de
                            travail</a>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% for experienceDeTravail in experienceDeTravails %}
                    <div class="col-md-6 mt-3 mt-md-0 pt-3">
                        <div class="border rounded job-list-box p-4">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="company-brand-logo text-center mb-4">
                                        <img src="{{ asset('frontEnd/images/featured-job/img-2.png') }}" alt=""
                                             class="img-fluid mx-auto d-block">
                                    </div>
                                </div>

                                <div class="col-lg-8">
                                    <div class="job-list-desc candidates-profile-exp-desc">
                                        <h5 class="f-19 mb-2"><a href="{{ asset('#') }}" class="text-dark">Desc
                                                : {{ experienceDeTravail.description }}</a>
                                        </h5>
                                        <p class="text-muted mb-0 f-16">Titre emploi
                                            : {{ experienceDeTravail.titreEmploi }}</p>
                                        <p class="text-muted mb-0 f-16">Nom entreprise
                                            : {{ experienceDeTravail.nomEntreprise }}</p>
                                        <p class="text-muted mb-0 f-16">Duree : {{ experienceDeTravail.duree }}
                                        <p class="text-muted mb-0 f-16"><i
                                                    class="mdi mdi-map-marker"></i>{{ experienceDeTravail.ville }}</p>

                                        {% if app.user == candidat.user %}
                                            <div class="pt-3 border-top mb-0">
                                                <a href="{{ path("modifier_experience_de_travail",{'idExperienceDeTravail': experienceDeTravail.id } ) }}">
                                                    <i class="mdi mdi-pencil text-center p-2"></i>Modifier education
                                                </a>
                                            </div>
                                            <div class="pt-3 mb-0">
                                                <a href="{{ path("supprimer_experience_de_travail",{'idExperienceDeTravail': experienceDeTravail.id } ) }}">
                                                    <i class="mdi mdi-trash-can text-center p-2"></i>Supprimer education
                                                </a>
                                            </div>
                                        {% endif %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 mt-4 pt-2">
                    <h4 class="text-dark">Competences :</h4>
                    {% if app.user == candidat.user %}
                        <a class="btn btn-dark-outline" href="{{ path("ajouter_competence") }}">Ajouter competence</a>
                    {% endif %}
                </div>
            </div>
            {% for competence in competences %}
                <div class="row border bg-light rounded my-3">
                    <div class="col-md-1 pt-0">
                        <div class="progress-box mt-4">
                            <h6 class="title text-muted">{{ competence.name }}</h6>
                        </div><!--end process box-->
                    </div>
                    <div class="col-md-9 pt-2">
                        <div class="progress-box mt-4">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped position-relative bg-primary"
                                     style="width:{{ competence.level }}%;">
                                    <div class="progress-value d-block text-muted h6">1%</div>
                                </div>
                            </div>
                        </div><!--end process box-->
                    </div>
                    {% if app.user == candidat.user %}
                        <div class="col-md-1 pt-0 text-center">
                            <div class="progress-box mt-4">
                                <a href="{{ path("modifier_competence",{'idCompetence': competence.id } ) }}">
                                    <i class="mdi mdi-pencil"></i></a>
                            </div>
                        </div>
                        <div class="col-md-1 pt-0 text-center">
                            <div class="progress-box mt-4">
                                <a href="{{ path("supprimer_competence",{'idCompetence': competence.id } ) }}">
                                    <i class="mdi mdi-trash-can"></i></a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </section>
    <!-- CANDIDATES PROFILE END -->

{% endblock %}
{% block js %}
    <!-- javascript -->
    <script src="{{ asset('frontEnd/js/jquery.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('frontEnd/js/plugins.js') }}"></script>

    <!-- selectize js -->
    <script src="{{ asset('frontEnd/js/selectize.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/jquery.nice-select.min.js') }}"></script>

    <script src="{{ asset('frontEnd/js/app.js') }}"></script>
{% endblock %}
