{% extends '/back_end_societe/base.html.twig' %}
{% block cssNouveau %}
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800 text-center mt-4">Candidats avec candidatures</h1>
        <form
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input id="recherche" type="text" class="form-control bg-white border-0 small"
                       placeholder="Rechercher ..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered bg-white text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Candidat</th>
                        <th>Date de naissance</th>
                        <th>Sexe</th>
                        <th>Num tel</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="affichage-recherche-candidat">
                    {% for candidat in candidats %}
                        <tr>
                            <td>
                                <a href="/candidat/{{ candidat.id }}/profil"> {{ candidat.prenom }} {{ candidat.nom }}</a>
                            </td>
                            <td>{{ candidat.dateNaissance|date("d/m/Y") }}</td>
                            <td>{{ candidat.sexe }}</td>
                            <td>{{ candidat.tel }}</td>
                            <td>
                                <a class="btn btn-primary mx-2" href="/candidat/{{ candidat.id }}/profil">Consulter</a>
                                <a class="btn btn-primary mx-2"
                                   href="{{ asset('espace_societe/messagerie/'~candidat.user.id~'/afficher') }}">Contacter
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        release = null;
        $("#recherche").attr('placeholder', 'Rechercher un candidat');
        $("#recherche").keyup(function () {
            clearInterval(release);
            release = setInterval(function () {
                $.ajax({
                    type: 'GET',
                    url: 'candidat/recherche',
                    data: {'recherche': $("#recherche").val()},
                    success: function (retour) {
                        if (retour) {
                            $("#affichage-recherche-candidat").empty();
                            $.each(JSON.parse(retour), function (i, obj) {
                                $("#affichage-recherche-candidat").append(
                                    "<tr>" +
                                    "<td><a href='candidat/" + obj.id + "/profil'>" + obj.prenom + " " + obj.nom + "</td>" +
                                    "<td>" + obj.dateNaiss + "</td>" +
                                    "<td>" + obj.sexe + "</td>" +
                                    "<td>" + obj.tel + "</td>" +
                                    "</tr>"
                                );
                            });
                        } else {
                            $("#affichage-recherche-candidat").empty().append("<p class='text-center p-5'>Aucun candidat</p>")
                        }
                    },
                    error: function () {
                        alert('Erreur ajax rafraichir candidats');
                    }
                });
                clearInterval(release)
            }, 500);
        });
    </script>
    <!-- /.container-fluid -->
    <div class="navigation ml-5 container-fluid">
        {{ knp_pagination_render(candidats) }}
    </div>
    <!-- End of Main Content -->
{% endblock %}
{% block jsNouveau %}
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/datatables-demo.js"></script>
{% endblock %}
