{% extends '/back_end_societe/base.html.twig' %}
{% block content %}
    <section class="bg-home mt-0">
        <div class="p-5">
            <div class="title-heading text-dark">
                <h1 class="heading text-center font-weight-bold mb-4">{{ manipulation }} categorie</h1>
                {{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
                <div class="row col-md-8 mx-auto my-3">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_widget(form.nom, {'attr': {'placeholder': 'Tapez le nom de la categorie','class': 'form-control'}}) }}
                            {{ form_errors(form.nom) }}
                        </div>
                    </div>
                    <div class="col-md-12 pt-2">
                        <div class="form-group">
                            {{ form_widget(form.submit, {
                                'attr': {
                                    'class': 'submitBnt btn btn-primary btn-block mx-auto','style':'width: 300px;'
                                }}) }}
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}
